{% comment %}
  Simple Test Block for Combo Pack
  Added by DK on 2025-10-25
{% endcomment %}

<div style="background: lime; color: black; padding: 20px; margin: 20px; border: 3px solid red; font-size: 20px; font-weight: bold;">
  🟢 TEST COMBO BLOCK IS WORKING! 🟢
  <br>This is a simple test to verify block loading.
  <br>Product: {{ product.title }}
  <br>Template: {{ template.name }}
</div>

{% schema %}
{
  "name": "Test Combo Block",
  "settings": []
}
{% endschema %}